*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #262626;
    font-family: Lato, sans-serif;
    
}


.loader{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items:center;
}

.loading_1{

    border: 2px solid #69d2e7;
    border-radius: 20px;
    height: 30px;
    width: 100px;

}



.loading_2{
    color:  #69d2e7;
    font-size: 2.5rem;
    background-color: white;
}


@keyframes load{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
